
<panel-body backgroundColor="#1A1E26">
    <p-schedule [height]="calendarHeight" [header]="header" (onDayClick)="handleDayClick($event)">
       </p-schedule>
</panel-body>


<p-dialog header="Event Details" [(visible)]="dialogVisible"  [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Title</label></div>
            <div class="ui-grid-col-8"><input pInputText id="title"  /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">Start</label></div>
            <div class="ui-grid-col-8"><p-calendar id="start" dateFormat="yy-mm-dd" ></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="end">End</label></div>
            <div class="ui-grid-col-8"><p-calendar id="end" dateFormat="yy-mm-dd"  defaultDate="2016-01-01" placeholder="Optional"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
            <div class="ui-grid-col-8"><p-toggleButton  style="width:150px" onLabel="Yes" offLabel="No"></p-toggleButton></div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close"  label="Delete"></button>
            <button type="button" pButton icon="fa-check"  label="Save"></button>
        </div>
    </footer>
</p-dialog>